@model WebApp.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "IREMPL - PNGNet ::: Login";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewData["Title"]</title>
    <meta content='initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width' name='viewport' />
    <meta content='yes' name='apple-mobile-web-app-capable'>
    <meta content='translucent-black' name='apple-mobile-web-app-status-bar-style'>

    <!-- Favicon -->
    <link href='~/images/favicon.png' rel='shortcut icon'>
    <link href='~/images/favicon.ico' rel='icon' type='image/ico'>

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

    <!-- CSS Files -->
    <link href="~/App_Themes/WinXP_Blue/css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
    <link href="~/App_Themes/WinXP_Blue/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css" />
    <link href="~/App_Themes/WinXP_Blue/css/style.css" media="all" rel="stylesheet" type="text/css" />
    <link href="~/App_Themes/WinXP_Blue/style.css" rel="stylesheet" type="text/css" />

    <!-- JavaScript Files -->
    <script src="~/scripts/js/jquery.min.js" type="text/javascript"></script>
    <script src="~/scripts/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/scripts/js/modernizr.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/scripts/Date.js"></script>
    <script type="text/javascript" src="~/Scripts/General.js"></script>
    <script src="~/Scripts/Alert.js" type="text/javascript"></script>

    <style type="text/css">
        .loading-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 9999;
            display: none;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .loader {
            margin-bottom: 20px;
        }

        .txt {
            color: white;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <!-- Loading Overlay -->
    <div class="loading-overlay" id="loadingOverlay">
        <span class="loader">
            <img src="~/App_Themes/WinXP_Blue/Images/camera-loader.gif" alt="" />
        </span>
        <span class="txt">Processing, please wait...</span>
    </div>

    <div class="login-regi-div clearfix">
        <div class="logo-box">
            <span class="logo-txt">
                <img src="~/App_Themes/WinXP_Blue/Images/irempl.png" class="img-responsive" alt="">
            </span>
            <span class="sub-logo-txt">
                <img src="~/App_Themes/WinXP_Blue/Images/PNGNet-Logo.gif" class="img-responsive" alt="">
            </span>
        </div>
        <div class="login-regi-box clearfix">
            <fieldset>
                <legend></legend>
                <div class="login-regi-form clearfix">
                    <h3>Sign in to start your session</h3>

                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger">
                            @TempData["Error"]
                        </div>
                    }

                    @if (TempData["Success"] != null)
                    {
                        <div class="alert alert-success">
                            @TempData["Success"]
                        </div>
                    }

                    <form asp-action="Index" method="post" id="loginForm">
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            <input asp-for="LoginID" class="form-control" placeholder="Enter your user id" autofocus />
                            <span asp-validation-for="LoginID" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input asp-for="Password" class="form-control" placeholder="Enter your password" maxlength="15" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-sign-sbtn" onclick="showLoading()">Log In</button>
                        </div>

                        <div class="clearfix button-group text-center">
                            <p>
                                <a href="#" data-toggle="modal" data-target="#Forget-Modal" style="color: #00a651 !important;">
                                    Forgot Password?
                                </a>
                            </p>
                        </div>
                    </form>
                </div>
                <!-- end of login-regi-form -->
            </fieldset>
        </div>
        <!-- end of login-regi-box -->
    </div>
    <!-- end of login-regi-div -->

    <p class="log-reg-footer-txt">
        Copyright &copy
        <script>document.write(new Date().getFullYear());</script>
        IRMEL. PNGNet | Powered by <a href="https://www.vbsoftindia.com" target="_blank">VBSoft (India) Limited.</a> All Rights Reserved.
    </p>

    <!-- Forgot Password Modal -->
    <div class="modal fade" id="Forget-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Forgot Password?</h4>
                </div>
                <div class="modal-body">
                    <div class="login-container">
                        <div class="login-form clearfix">
                            <div class="form-group clearfix">
                                <input type="text" id="txtUsernameForgot" class="form-control input-95" placeholder="Enter User Name *" />
                            </div>
                            <div class="clearfix button-group text-center">
                                <button type="button" class="btn btn-primary" onclick="submitForgotPassword()">
                                    <i class="fa fa-envelope"></i> Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

    <script type="text/javascript">
        function showLoading() {
            document.getElementById('loadingOverlay').style.display = 'flex';
        }

        function hideLoading() {
            document.getElementById('loadingOverlay').style.display = 'none';
        }

        function submitForgotPassword() {
            var username = document.getElementById('txtUsernameForgot').value.trim();

            if (username === '') {
                alert('Enter User Name');
                return false;
            }

            showLoading();

            $.ajax({
                url: '@Url.Action("ForgotPassword", "Login")',
                type: 'POST',
                data: {
                    username: username,
                    __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                },
                success: function (response) {
                    hideLoading();
                    if (response.success) {
                        alert(response.message);
                        $('#Forget-Modal').modal('hide');
                        document.getElementById('txtUsernameForgot').value = '';
                    } else {
                        alert(response.message);
                    }
                },
                error: function () {
                    hideLoading();
                    alert('An error occurred while processing your request.');
                }
            });
        }

        // Auto-hide loading on page load complete
        $(document).ready(function () {
            hideLoading();
        });

        // Show loading on form submit
        $('#loginForm').on('submit', function () {
            showLoading();
        });

        // Validate form before submit
        function validateLogin() {
            var loginId = document.getElementById('LoginID').value.trim();
            var password = document.getElementById('Password').value.trim();

            if (loginId === '') {
                alert('Enter Login ID');
                return false;
            }
            if (password === '') {
                alert('Enter Password');
                return false;
            }
            return true;
        }

        // Set focus to login field
        $(document).ready(function () {
            $('#LoginID').focus();
        });

        // Set window status
        window.status = "Copyright © 2010 VBSOFT (India) Limited. All Rights Reserved.";
    </script>
</body>
</html>